<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clases - Docente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Clases</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Hora Entrada</th>
            <th>Hora Salida</th>
            <th>Salon</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="clase : ${clases}">
            <td th:text="${clase.id}"></td>
            <td th:text="${clase.name}"></td>
            <td th:text="${clase.description}"></td>
            <td th:text="${clase.hent}"></td>
            <td th:text="${clase.hsal}"></td>
            <td th:text="${clase.salon}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

